
AHG 
Cycling badge

Learning to ride a bike is an excellent way to practice  balance, perseverance, and self-assurance! Biking can be a lifelong way to travel, relax , and exercise.



Cycling is an enjoyable activity for people of all ages. There are many reasons people ride bicycles. They may ride just for fun, for exercise, for transportation, or for the sport of racing. To learn more about bicycling, you can go to a bike shop, find a cycling club, go to the library, or check the Internet.

Prior to beginning this badge, adults helping girls are required to review AHG's Health and Safety Policies and Guidelines. 

Check: Did the helping adult reviewed AHG's Health and Safety Policies and Guidelines?  Yes/No
Yes - continue 
No - Please ask your helping adult to reviewed AHG's Health and Safety Policies and Guidelines (link)

What is your AHG Program level? 
Choose: Tenderheart, Explorer
If Tenderhart  - go to Tenderheart
If Explorer (ADD CODE HERE)

Section 1 TENDERHEART Complete ALL
Check when completed. 
Record completion data. 
Learn about bicycle safety. 
On what side of the street should a cyclist ride?
Review  National Highway Traffic Safety Administration (NHTSA) Kids and  bicycle safety recomendations 
https://one.nhtsa.gov/people/injury/pedbimot/bike/kidsandbikesafetyweb/index.htm

Are there specific bike laws that apply to your community, such as designated bike lanes? (Do your research and enter your answer here)
Does your family have any rules about bike riding? (Enter your answer here)

2. Learn about cycling equipment including:
• Clothing and shoes 	• Reflectors and lights
Helmets 	• Locks

Read the article What Clothes to Wear When You’re Cycling
https://www.rei.com/learn/expert-advice/bike-clothing.html

Sorting game. What Clothes to Wear When You’re Cycling? 

3. Learn and demonstrate three different hand signals: left turn, right turn, and slow/stop. 
Watch the video 
https://www.google.com/search?sca_esv=590654907&rlz=1C5CHFA_enUS982US1020&sxsrf=AM9HkKkjUvLbgd6N-_Yl3J16s_3FuhKKrw:1702498609649&q=bicycle+hand+signals:+left+turn,+right+turn,+and+slow/stop&tbm=vid&source=lnms&sa=X&ved=2ahUKEwjr5u7GnY2DAxVHD1kFHY--BLcQ0pQJegQIDBAB&biw=1054&bih=647&dpr=2#fpstate=ive&vld=cid:4f0d2253,vid:ZNENkiKVS0o,st:0
Teach these hand signals to a friend. 
Learn and demonstrate how to safely pass another cyclist.

Passing another cyclist safely involves a few key steps:
Announce Your Intent: Before you pass, make sure to signal your intent. This can be done by ringing a bell or verbally indicating your approach, such as saying "Passing on your left"

Pass on the Left: Always pass the cyclist on their left side.

Maintain a Safe Distance: Keep a safe distance between you and the cyclist you’re passing. In many places, there are laws specifying this distance. For example, in some states in the U.S., motorists are required to leave at least 3 feet of space when passing a bicyclist.

Be Aware of Your Surroundings: Stay alert to potential hazards, and only pass when it’s safe to do so.


4. Take at least a two-mile bike ride with your Troop, Unit, or family. Draw a simple map for everyone to follow, showing the starting and stopping places, as well as any turns and other
landmarks

TENDERHEART Complete On

5. Identify the kinds of injuries a person might get while riding a bike. What are things you can do to avoid serious injury?
Learn some basic first aid to treat simple injuries such as scrapes and bruises.
6. Play a game with your Unit or family where you will learn to identify the different parts of a bicycle.
7. Attend a bicycle safety event. Tell your Unit or family about your experience and any new safety or riding tips that you
learned.

EXPLORER Complete All

Learn or review bicycle safety, equipment, and etiquette from Tenderheart requirements #1-3. LINK 
How would equipment and clothing be different if cycling after dark?
2. Learn how to determine the proper seat height and bike height. Learn about different sized tires and when they might be used. Find out about different types of bicycles. How are they different? Compare the cost between different types of bikes.
3. Learn the following maintenance skills and which tools are necessary for each:
• Check tire pressure	• Change a flat tire
• Inflate a tire	• Raise and lower your seat
4. Locate the bike trails in your area. Take both a three-mile and five-mile ride with your Unit or family, or ride at least ten miles in one week. What types of foods and beverages should be consumed before, during, and after a long bike ride? How much should you eat and drink, and why? Plan a snack to take on a bike ride.
EXPLORER Complete Two

5. Demonstrate the use of foot brakes and hand brakes. Look at a 10-speed or higher bicycle. Learn how changing gears can affect your ride.
6. Bicycling is also used as a form of transportation. Research at least two countries in which this is popular. Be sure to learn who uses bicycles the most and why it is popular in these countries. For one week, ride your bike to as many places as you can instead of riding in a car.


7. With a friend, take a ride on a bicycle built for two (called a tandem). Borrow or rent one with your Troop or family and take turns riding on it.
8. Initiate a safety poster contest in your school or community during National Bike Safety Month in May. Hang the posters in prominent places in your community.


