
.container {
    display: flex;
    width: 100%;
}

.left {
    width: 20%;
    background-color: gray;
    color: white;
    text-align: left;
    padding: 10px;
}

.right {
    width: 80%;
    background-color: lightblue;
    color: black;
    text-align: left;
    padding: 10px;
}

.additional-info {
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: none;
}

img {
    width: 100%;
}

h1 {
    text-transform: uppercase;
}