
.container {
    display: flex;
    width: 100%;
}

.left {
    width: 20%;
    background-color: gray;
    color: white;
    text-align: left;
    padding: 10px;
}

.right {
    width: 80%;
    background-color: lightblue;
    color: black;
    text-align: left;
    padding: 10px;
}

.additional-info {
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: none;
}

img {
    width: 100%;
}

h1 {
    text-transform: uppercase;
}

/* Add styles for task blocks */
.task-block {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.task-block ul {
    list-style-type: none;
    padding: 0;
}

.task-block li {
    margin-bottom: 10px;
}

.task-block label {
    display: block;
}

.task-block input {
    margin-right: 5px;
}